*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor-verde: green;

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.cor{
    background-color: var(--cor-verde);
}

